/* Containers */
.title-container h1 {
    color: #ffffff; /* Title Color */
    text-align: center; /* Center Title */
    margin-bottom: 20px;
    padding: 0 20px;
    padding-top: 70px;
    z-index: 10; /* Ensures title is above other elements */
    font-size: 2rem;
    font-weight: bold;
}

.crypto-list-container {
    padding: 20px;

}

.container {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #ffffff;
    background-color: #162035;
    min-height: 100vh;
    max-width: 100vw; /* Max width to viewport width */
    width: 100%;
    box-sizing: border-box; /* Include padding in width calculation */
    display: flex;
    justify-content: center;
}

.search-container {
    padding: 1.5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

/* Update media queries for responsive padding and font sizes */
@media (max-width: 768px) {
    .crypto-table th,
    .crypto-table td {
        padding: 0.25em; /* Less padding on smaller screens */
        font-size: 0.9em; /* Smaller font size on smaller screens */
    }
}

/* Search Input */
.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 2px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #14213d;
    color: #ffffff;
}

/* Crypto List*/
.crypto-list {
    padding: 20px;
}

.crypto-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #151717;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.crypto-name {
    font-weight: bold;
}

/* Ensures Crypto price is visible against the darker background */
.crypto-price {
    color: #ffffff;
}

.crypto-icon {
    margin-right: 8px; /* Adjust the spacing between the icon and the name */
    width: 24px; /* Adjust the size of the icon */
    height: 24px;
    vertical-align: middle; /* Align the icon vertically with the text */
}

/* Crypto Table  */
.crypto-table {
    width: 101%;
    border-collapse: separate;
    margin-bottom: 20px;
    background-color: #14213d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* New Updates */
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}

/*
.crypto-table thead {
    background-color: #14213d;
}
*/

.crypto-table th,
.crypto-table td {
    padding: 2px; /* Made the entries more compact, less spread out */
    border: 0px solid #1e2a45;
    text-align: middle;
    font-size: 1rem;
}

.crypto-table th {
    color: #ffffff;
    background-color: #fca311;
    font-weight: bold;
    padding: 6px;
}

.crypto-table tbody td {
    color: #ffffff;
}

.crypto-table tbody tr:hover {
    background-color: #1e2a45;
}

/*
.crypto-table tbody tr:nth-child(even) {
    background-color: #162035;
}
*/

/* Narrows the # column to be less noticeable & Header rounded corners */
.crypto-table th:first-child,
.crypto-table td:first-child {
    width: 45px;
    text-align: center; /* Center align the # column */
}



.crypto-table th:first-child{
    border-top-left-radius: 10px; /* Rounded top left corner */

}

.crypto-table th:last-child {
    border-top-right-radius: 10px; /* Rounded top right corner */
}

.crypto-table td:nth-last-child() {
    display: none;
  }
  
.crypto-table td:nth-child(3),
.crypto-table td:nth-child(4) {
    text-align: right; /* Right align Price and 24h % columns */
    padding-right: 6px; /* Space from the right edge */
}


/*********************************************************************/

/* Pagination Styles */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #fca311;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #e69500;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ccc; /* Grey background */
    cursor: not-allowed; /* Cursor to indicate the button is not clickable */
    color: #666; /* Dim the text color a bit */
}

.pagination span {
    margin: 0 10px; /* Add some margin around the text for spacing */
    color: #ffffff; /* Set the color of the text */
    font-weight: bold; /* Optional: to make it stand out more */
}